Body{
    background-image:url('https://i.pinimg.com/736x/b7/f3/1b/b7f31b9ec96d3780e90f4ac64bca9e53.jpg');
  background-size: auto 100vh;
    font-familly: Arial;
    heigth: 100vh;
  }
  .menu{ 
    background-color: white;
    
  }
  a{
    color: teal;
    text-decoration: none;
    
  }
  a:hover{
    text-decoration: underline; 
  }
  
  .menu ul {
    display: Flex;
    justify-content: space-around;
  }
  
  .menu li{
    list-style: none;
  }
  
  .site-subtitle,
  .site-title{
    color: fuchsia;
    text-align: center;
  }
  
  .site-sutitle{
    font-style: italic;
  }