*{
  margin: 0;
  padding: 0;
box-sizing: border-box;
}

header{
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;

}

body{
    background-image:url('https://i.pinimg.com/736x/b7/f3/1b/b7f31b9ec96d3780e90f4ac64bca9e53.jpg');
  background-size: auto 100vh;
    height: 100vh;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
}
    
    









    @media (min-width: 400px) {
      body {
        font-size: 18px;
      }
    }
    
    @media (min-width: 600px) {
      body {
        font-size: 20px;
      }
    }  
   
.menu{ 
    background-color: white;
position: fixed;
width: 100vw;
top: 0;
z-index: 1;
}

  a{
    color: teal;
    text-decoration: none;
    
  }
  a:hover{
    text-decoration: underline; 
  }
  
  .menu a{
    padding: 10px 20px;
    display: block;
    transition: background-color 1s, color 1s;
  }
.menu a:active,
.menu a:hover{
  background-color: teal;
  color: white
}

  .menu ul {
    display: Flex;
    justify-content: space-around;

  }
  
  .menu li{
    list-style: none;
  }
  
.titulo{
  transform: scale(0.2) translateY(50vh);
  opacity: 0;

  animation: linear 2s animacaoTitulo  forwards;
}

@keyframes animacaoTitulo {
100%{
  transform: scale(1) translateY(0);
  opacity: 1;
}
}

  .site-subtitle,
  .site-title{
    color:#C71585 ;
    text-align: center;
    margin: 10px;
   
    
  }
  
  .site-title{
    font-size: 4em;
    font-family: 'Handlee', cursive;
  }
  
  .site-sutitle{
    font-style: italic;
    font-family: 'Pangolin', cursive;
  }

.contato,
.portfolio{
  padding: 2em;
  height: 100vh;
}

.contato h2,
.portifolio h2{
  font-family: 'Indie Flower', cursive;
  margin-bottom: 1.5em;
  font-size: 2em;
}

.portfolio .grid {
  display: grid;
  gap: 2em;
}



@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}


@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat (2, 260px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em -48px);
    }
  }
   
    .portfolio figure{ 
      text-align: center;
    } 
  

.img-portfolio{
    width: 200px;
    height: 240px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 500ms;
  }

.img-portfolio:hover{
  transform:scale(1.2);
}

  .contato .icons{
    text-align: center;
  }
  
  .contato a{
    color: #C31818;
    font-size: 4em;
    transition:text-shadow 1s ;
  }
   
  .contato a:active,
  .contato a:hover{
    text-decoration: none;
    text-shadow: 0px 0px 10px #FB0D11;
  }