*{
  margin: 0;
  padding: 0;
box-sizing: border-box;
}

header{
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;

}

body{
    background-image:url('https://i.pinimg.com/736x/b7/f3/1b/b7f31b9ec96d3780e90f4ac64bca9e53.jpg');
  background-size: auto 100vh;
    height: 100vh;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
}
    
    









    @media (min-width: 400px) {
      body {
        font-size: 16px;
      }
    }
    
    @media (min-width: 600px) {
      body {
        font-size: 22px;
      }
    }  
   
.menu{ 
    background-color: white;
position: fixed;
width: 100vw;
top: 0;
  }
  a{
    color: teal;
    text-decoration: none;
    
  }
  a:hover{
    text-decoration: underline; 
  }
  
  .menu a{
    padding: 10px 20px;
    display: block;
  }
  .menu ul {
    display: Flex;
    justify-content: space-around;

  }
  
  .menu li{
    list-style: none;
  }
  
  .site-subtitle,
  .site-title{
    color:#C71585 ;
    text-align: center;
    margin: 10px;
   
    
  }
  
  .site-title{
    font-size: 4em;
    font-family: 'Handlee', cursive;
  }
  
  .site-sutitle{
    font-style: italic;
    font-family: 'Pangolin', cursive;
  }

.portifolio h2{
  font-family: 'Indie Flower', cursive;
  margin-bottom: 1.5em;
  font-size: 2em;
}

.portfolio .grid{
  display: grid;
  gap: 2em;
  }
   
   
  
  @media (min-width: 560px) {
      .portfolio .grid {
        grid-template-columns :240px 240px;
        }
    }
  


  .portfolio figure{
    text-align: center;

  }


.img-portfolio{
    width: 200px;
    height: 240px;
  }

   